.title
  %h1 
    Swanky little accordian list
  %h2
    Made in pure CSS, click on the items to see it in action!
.wrapper
  %input{:id => 'pictures',:type => 'checkbox'}
  %label{:for => 'pictures'}
    %p Documentation & more
    %div.lil_arrow
    .content
      %ul
        %li
          %a{:href => '#'} Design briefs
        %li
          %a{:href => '#'} Non Disclosure
        %li
          %a{:href => '#'} Company Brochure
    %span
  %input{:id => 'jobs',:type => 'checkbox'}
  %label{:for => 'jobs'}
    %p Upcoming Jobs
    %div.lil_arrow
    .content
      %ul
        %li
          %a{:href => '#'} Weekly Forecast
        %li
          %a{:href => '#'} Timescales
        %li
          %a{:href => '#'} Quotes
    %span
  %input{:id => 'events',:type => 'checkbox'}
  %label{:for => 'events'}
    %p Events & Task Management
    %div.lil_arrow
    .content
      %ul
        %li
          %a{:href => '#'} Calendar
        %li
          %a{:href => '#'} Important Dates
        %li
          %a{:href => '#'} Someting Event related
    %span
  %input{:id => 'financial',:type => 'checkbox'}
  %label{:for => 'financial'}
    %p Invoicing & financial
    %div.lil_arrow
    .content
      %ul
        %li
          %a{:href => '#'} Invoicing Templates
        %li
          %a{:href => '#'} Invoice Archives
        %li
          %a{:href => '#'} Send Invoice
    %span
  %input{:id => 'settings',:type => 'checkbox'}
  %label{:for => 'settings'}
    %p System Settings
    %div.lil_arrow
    .content
      %ul
        %li
          %a{:href => '#'} User Settings
        %li
          %a{:href => '#'} Edit Profile
        %li
          %a{:href => '#'} Do something cool
    %span

